@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-input {
  margin-bottom: 20px;
  padding: 10px;
}

.info-blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-block {
  width: 25%;
  height: 220px;
  background-color: lightgray;
  margin: 0 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
}

#search-button {
  margin-left: 10px;
}

#suggestions-list {
  list-style-type: none;
  padding: 0;
}

#suggestions-list li {
  cursor: pointer;
  padding: 5px;
}

#suggestions-list li:hover {
  background-color: lightgray;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calculator h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.calculator label {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 5px;
}

.calculator select, .calculator input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
}

.calculator input[type="text"][readonly] {
  background-color: lightgray;
}

.calculator input[type="text"]:focus {
  outline: none;
}